var commentable = $("##{@commentable.class.name.downcase}_#{@commentable.id}");

- if params[:page].present?
  commentable.find("#comment-list").append('#{ j render @comments }');
  - if @comments.total_pages == @comments.current_page
    commentable.find("#show_more").hide();
  - else
    commentable.find("#show_more").attr("href", "#{ post_comments_path(@commentable, page: comments.current_page + 1)}");
- else
  commentable.find(".#{@commentable.class.name.downcase}-comments").html('#{ j render "index", comments: @comments, commentable: @commentable }');
