.row
  .col-md-5.col-md-offset-3
    .wrapper
      .wrapper-auth
        %h2.text-center  Log in
        = simple_form_for(resource, as: resource_name,
          url: session_path(resource_name)) do |f|
          = f.input :email, label: false, placeholder: "Email"
          = f.input :password, label: false, placeholder: "Password"
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

          = f.button :submit, "Log in", data:{"disable-with": "Logging in.."}
        %ul.auth-links
          = render "devise/shared/links"
