= div_for(post) do
  .post-heading
    %ul.media-list
      %li.media
        .media-left
          %a{href: "#"}
            = image_tag user_avatar(post.user), class: "media-object"
        .media-body
          - if post.user == current_user
            .btn-group.pull-right
              %button.btn.btn-default.btn-xs.dropdown-toggle{"aria-expanded": "false",
              "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to "Edit", [:edit, post], remote: true
                %li
                  = link_to "Remove post", post, method: :delete, remote: true
          %h5.media-heading
            = link_to post.user, post.user
            made a post:
          %h6.text-muted.time
            = time_ago_in_words(post.created_at)
  .post-description
    .post-body
      %p
        = post.body
    - if post.images.any?
      .post-images
        .row
          = render post.images
    .stats
      .stat-item.stat-likes
        = render "likes/like", likable: post
      .stat-item.stat-comments
        = link_to fa_icon("comment", text: "#{post.comments.count} Comments"),
          [post, :comments],
          remote: true, title: "Show what people say about this!",
          data: { "disable-with": "loading.." },
          class: "btn btn-sm btn-default"
  .post-comments
  .post-footer
