.row
  .col-md-3
    .wrapper
      .side-profile-header
      .side-profile-body
        = image_tag "/assets/no_user.png", class: "side-profile-img"
        %h4.text-center
          = link_to current_user.username, current_user
        %ul
          %li.col-xs-4
            %span 1,345
            %p.text-muted.text-uppercase
              %small Following
          %li.col-xs-4
            %span 23,456
            %p.text-muted.text-uppercase
              %small Followers
          %li.col-xs-4
            %span 52,678
            %p.text-muted.text-uppercase
              %small Likes

  .col-sm-6
    .wrapper
      #form-post-content
        .media
          .media-left
            = image_tag "/assets/no_user.png", class: "media-object"
          .media-body
            .media-heading
              #form-post
                = render "form", post: @post
    .wrapper
      #post-list
        - if @posts.any?
          = render @posts
        - else
          .default-message NOTHING TO SHOW YET. SHARE WHAT YOU THINK!

