.row
  .col-md-3
    .wrapper
      .side-profile-header
      .side-profile-body
        = image_tag user_avatar(current_user), class: "side-profile-img"
        %h3.text-center
          = link_to current_user.username, current_user
        %ul.side-profile-status
          = render "status", user: current_user

  .col-sm-6
    .wrapper
      #form-post-content
        .media
          .media-left
            = image_tag user_avatar(current_user), class: "media-object"
          .media-body
            .media-heading
              #form-post
                = render "form", post: @post
    .wrapper
      #post-list
        - if @posts.any?
          = render @posts
        - else
          .default-message NOTHING TO SHOW YET. SHARE WHAT YOU THINK!

