= div_for(@image) do
  .row
    .col-md-6
      = image_tag(@image.file.url, class: "img-responsive")
    .hidden-lg.hidden-md.hidden-sm &nbsp;
    .col-md-6
      %ul.media-list
        %li.media
          .media-left
            %a{href: "#"}
              = image_tag user_avatar(@image.user), class: "media-object"
          .media-body
            %h5.media-heading
              = link_to @image.user, @image.user
            %h6.text-muted.time
              = time_ago_in_words(@image.created_at)
      .stats
        .stat-item.stat-likes
          = render "likes/like", likable: @image
        .stat-item.stat-comments
          = link_to fa_icon("comment", text: "#{@image.comments.count} Comments"),
            [@image, :comments],
            remote: true, title: "Show what people say about this!",
            data: { "disable-with": "loading.." },
            class: "btn btn-sm btn-default"
        .stat-item.stat-default
          = render "images/default", image: @image

      %br
      .image-comments
      .image-footer
