!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8",
      "http-equiv": "Content-Type"}
    %meta{name: "viewport",
      content: "width=device-width, initial-scale=1"}
    - if user_signed_in?
      = tag :meta, name: "current_user", data: { id: current_user.id }
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        Friend Zone
    = csrf_meta_tags
    = stylesheet_link_tag 'application',
      media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application',
      'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application',
      src: "http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD9BKUajAPkbX0GhdktVCYMpniEwe5s0C0"

  %body{class: page_class}
    = render "layouts/shared/nav_bar"
    .container
      = yield
